<section class="twitter_feed_wrapper">
  <div class="container">
    <div class="row wow animated fadeInUp">
      <div class="twitter_feed_icon col-sm-1 col-md-1"><a href="#twitter"><i class="fa fa-twitter"></i></a></div>
      <div class="col-sm-11 col-md-11">
        <blockquote>
          <p>A complete build-it-yourself educational game programming kit that doesn’t suck at all.</p>
          — Ken Gracey (@ParallaxKen) <a href="https://twitter.com/parallaxken">July 16, 2014</a></blockquote>
      </div>
    </div>
  </div>
</section>
