---
layout: default
title: About
permalink: /about/

headline: 
    title: We're always doing <strong>something</strong> at HQ!
    sub: LameStation is the company that <strong>never sleeps</strong>!
    image: /images/lamestation_slick1.jpg
---
{% include headline.html %}
<div class="main">
  <div class="container">
    <section class="hgroup">
      <h1>It's story time<h1>
      <h2>Someone grab the popcorn!</h2>
      {% include crumb.html %}
    </section>
    <section class="article-text">
      <div class="row">
        <div class="col-sm-8 col-md-8">
          <h3>It all started at school...</h3>
          <p>The LameStation is a game console designed from the ground up with learning in mind. It had to be, since it started as a school project.</p>
          <p>That's right! Brett designed the first prototype by himself while he was still a student at UC Irvine, and that's why it looks the way it does today:</p>
          <ul>
            <li><strong>Brett wasn't good at soldering</strong>, so the LameStation uses all through-hole components, large solder pads, and can be tested at multiple points during assembly.</li>
            <li><strong>Brett had to finish someday</strong>, so a complicated multi-chip system with nine million features was not going to work. The LameStation is a system complicated enough to make it work, but nothing more.</li>
            <li><strong>Brett wanted to learn something</strong>, so using off-the-shelf, working pieces to build it would have defeated the whole purpose. Every piece had to be created from scratch and had to be easy to understand.</li>
          </ul>
          <hr>
          <blockquote>
            <p>A complete build-it-yourself educational game programming kit that doesn’t suck at all.</p>
            <small>Ken Gracey, Parallax Inc.</small> </blockquote>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="service_teaser vertical">
            <div class="service_photo">
              <figure style="background-image:url(/images/serv_6.jpg)"></figure>
            </div>
            <div class="service_details">
              <h2 class="section_header skincolored"><b>Teaser</b>Element<small>has many styles!</small></h2>
              <a class="btn btn-primary" href="documentation/index.html">Just teasing you &nbsp; <i class="fa fa-code-fork"></i></a> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="team_members">
      <h2 class="section_header fancy centered">There's no 'i' in team... <small>... but there is one in 'engineering'!</small></h2>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/ceo.png)"><img src="/images/ceo.png" alt="1a"></figure>
            <h5>Brett Weir</h5>
            <small>Founder / CEO</small>
            <hr>
            <div class="team_social"> <a href="https://www.facebook.com/TheChickenSpeaks"><i class="fa fa-facebook"></i></a> <a href="https://github.com/bweir"><i class="fa fa-github-alt"></i></a> </div>
            <p class="short_bio">Brett first created the LameStation for his senior design project, then later quit his job to develop it full-time!</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/dk.png)"><img src="/images/dk.png" alt="2a"></figure>
            <h5>DK Nguyen</h5>
            <small>Product Development</small>
            <hr>
            <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
            <p class="short_bio">student, .</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/2b.jpg)"><img src="/images/2a.jpg" alt="2a"></figure>
            <h5>Marko Lukat</h5>
            <small>Platform Development</small>
            <hr>
            <div class="team_social"> <a href="https://github.com/konimaru"><i class="fa fa-github-alt"></i></a> </div>
            <p class="short_bio">Marko was one of the first contributors to the project, and has personally rewritten most of the graphics system to make it super fast and awesome.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/2b.jpg)"><img src="/images/2a.jpg" alt="2a"></figure>
            <h5>Hernan Acevedo</h5>
            <small>Hardware</small>
            <hr>
            <div class="team_social"> <a href="https://www.facebook.com/hernan.ac.39"><i class="fa fa-facebook"></i></a> </div>
            <p class="short_bio">Hernan is a hardcore hardware engineer straight of out Colombia.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include footer.html %}
</div>
