---
layout: default
title: About
permalink: /about/
---
<div class="full_page_photo" style="background-image: url(images/about_us.jpg);">
  <div class="container">
    <section class="call_to_action">
      <h3 class="animated bounceInDown">we're always doing <strong>something</strong> at HQ!</h3>
      <h4 class="animated bounceInUp skincolored">LameStation is the company that <strong>never sleeps</strong>!</h4>
    </section>
  </div>
</div>
<div class="main">
  <div class="container">
    <section class="hgroup">
      <h1>Hello Us!</h1>
      <h2>A little more about us...</h2>
      {% include crumb %}
    </section>
    <section class="article-text">
      <div class="row">
        <div class="col-sm-8 col-md-8">
          <p>Vivamus vestibulum neque quis nunc convallis venenatis. Nulla tristique lorem sit amet ipsum ornare sit amet feugiat nulla condimentum. Sed faucibus volutpat nunc, at ullamcorper augue elementum id. Quisque at lectus leo, nec placerat mi. Curabitur egestas eleifend interdum. Suspendisse potenti. Suspendisse nec risus fermentum. </p>
          <p class="columns_2">In hac habitasse platea dictumst. In hac habitasse platea dictumst. Donec aliquet tellus enim, a tincidunt nulla. Praesent mollis felis at nulla fermentum mattis. Vivamus vestibulum neque quis nunc convallis venenatis. Nulla tristique lorem sit amet ipsum ornare sit amet feugiat nulla condimentum. Sed faucibus volutpat nunc, at ullamcorper augue elementum id. Quisque at lectus leo, nec placerat mi. Curabitur egestas eleifend interdum. Suspendisse potenti. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem. Suspendisse quis sem lorem, a euismod nisl. Nullam eget tortor purus, id molestie sapien. Curabitur egestas eleifend interdum. Curabitur egestas eleifend interdum.</p>
          <p><img src="/images/clients/jquery.jpg" width="140" height="70" alt="jquery">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Clients are talking about us</small> </blockquote>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="service_teaser vertical">
            <div class="service_photo">
              <figure style="background-image:url(/images/serv_6.jpg)"></figure>
            </div>
            <div class="service_details">
              <h2 class="section_header skincolored"><b>Teaser</b>Element<small>has many styles!</small></h2>
              <a class="btn btn-primary" href="documentation/index.html">Just teasing you &nbsp; <i class="fa fa-code-fork"></i></a> </div>
          </div>
        </div>
      </div>
    </section>
    <section class="team_members">
      <h2 class="section_header fancy centered">There's no 'i' in team... <small>... but there is one in 'engineering'!</small></h2>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/ceo.png)"><img src="/images/ceo.png" alt="1a"></figure>
            <h5>Brett Weir</h5>
            <small>Founder / CEO</small>
            <hr>
            <div class="team_social"> <a href="https://www.facebook.com/TheChickenSpeaks"><i class="fa fa-facebook"></i></a> <a href="https://github.com/bweir"><i class="fa fa-github-alt"></i></a> </div>
            <p class="short_bio">Brett first created the LameStation for his senior design project, then later quit his job to develop it full-time!</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/dk.png)"><img src="/images/dk.png" alt="2a"></figure>
            <h5>DK Nguyen</h5>
            <small>Product Development</small>
            <hr>
            <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
            <p class="short_bio">student, .</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/2b.jpg)"><img src="/images/2a.jpg" alt="2a"></figure>
            <h5>Marko Lukat</h5>
            <small>Platform Development</small>
            <hr>
            <div class="team_social"> <a href="https://github.com/konimaru"><i class="fa fa-github-alt"></i></a> </div>
            <p class="short_bio">Marko was one of the first contributors to the project, and has personally rewritten most of the graphics system to make it super fast and awesome.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure style="background-image: url(/images/2b.jpg)"><img src="/images/2a.jpg" alt="2a"></figure>
            <h5>Hernan Acevedo</h5>
            <small>Hardware</small>
            <hr>
            <div class="team_social"> <a href="https://www.facebook.com/hernan.ac.39"><i class="fa fa-facebook"></i></a> </div>
            <p class="short_bio">Hernan is a hardcore hardware engineer straight of out Colombia.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include footer.html %}
</div>
