---
layout: default
title: Games
permalink: /games/
---
<div class="main">
  <div class="container">
    <section class="hgroup">
      <h1>An Epic Game Showcase</h1>
      <h2>Prepare to be <strong>totally stoked</strong>! Look at all the games you can make on the LameStation.</h2>
      <h2>This isn't your grandma's Z80; the Propeller is a <strong>rock solid microcontroller</strong> that can deliver some serious performance!</h2>
      {% include crumb %}
    </section>
    <section>
      <ul class="portfolio_filters">
        <li><a href="#" data-filter="*">show all</a></li>
        <li><a href="#" data-filter=".cat_action">action</a></li>
        <li><a href="#" data-filter=".cat_puzzle">puzzle</a></li>
        <li><a href="#" data-filter=".cat_adventure">adventure</a></li>
      </ul>
    </section>
    <section class="portfolio_strict">
      <div class="row isotope_portfolio_container">
        <div class="cat_action col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="pixel" data-path-hover="M 180,190 0,158 0,0 180,0 z">
              <figure style="background-image:url(pixel/fight5.png)">
                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                </svg>
                <figcaption>
                <p>Fight to defeat the evil Macrosoth before it's too late!.</p>
                <div class="view_button">View</div>
                </figcaption>
              </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="pixel">piXel</a></h3>
              <p>action</p>
            </div>
          </div>
        </div>
        <div class="cat_puzzle col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="brettris" data-path-hover="M 180,190 0,158 0,0 180,0 z">
              <figure style="background-image:url(brettris/bretris1.png)">
                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                </svg>
                <figcaption>
                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                <div class="view_button">View</div>
                </figcaption>
              </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="brettris">Brettris</a></h3>
              <p>puzzle</p>
            </div>
          </div>
        </div>
        <div class="cat_adventure col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="aknightout" data-path-hover="M 180,190 0,158 0,0 180,0 z">
              <figure style="background-image:url(aknightout/knight2.png)">
                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                </svg>
                <figcaption>
                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                <div class="view_button">View</div>
                </figcaption>
              </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="aknightout/">A Knight Out</a></h3>
              <p>adventure</p>
            </div>
          </div>
        </div>
        <div class="cat_action col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="frappybard" data-path-hover="M 180,190 0,158 0,0 180,0 z">
              <figure style="background-image:url(frappybard/frappy2.png)">
                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                </svg>
                <figcaption>
                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                <div class="view_button">View</div>
                </figcaption>
              </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="frappybard">Frappy Bard</a></h3>
              <p>action</p>
            </div>
          </div>
        </div>
        <div class="cat_adventure col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="pikemanz" data-path-hover="M 180,190 0,158 0,0 180,0 z">
              <figure style="background-image:url(pikemanz/overworld.png)">
                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                  <path d="M 180,0 0,0 0,0 180,0 z"/>
                </svg>
                <figcaption>
                <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                <div class="view_button">View</div>
                </figcaption>
              </figure>
            </a>
            <div class="portfolio_description">
              <h3><a href="pikemanz">Pikemanz</a></h3>
              <p>adventure</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include footer_sm.html %}
</div>
