---
layout: default
title: Home
permalink: /
carousel:
 -  image: images/carousel/6_play.jpg
    headline: The console parents <br><strong>want</strong> their kids to play!
    description: They'll think it's just a toy, but they'll become <strong>tech geniuses</strong> before you know it.

 -  image: images/carousel/3_build.jpg
    headline: The game console <br>that you can <strong>build</strong>
    description: <strong>See everything</strong> that goes into making your favorite games possible, right down to the silicon!

 -  image: images/carousel/4_tools.png
    headline: A game console that <br>you can <strong>program</strong>
    description: Write games using the <strong>LameStation SDK</strong>, a truly integrated game development framework for the Parallax Propeller.
---
<section id="slider_wrapper" class="slider_wrapper full_page_photo">
  <div id="main_flexslider" class="flexslider">
    <ul class="slides">
      {% for slide in page.carousel %}
      <li class="item" style="background-image: url( {{ slide.image }} )">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ slide.headline }}</h1>
          <p class="lead skincolored">{{ slide.description }}</p>
        </div>
      </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<div class="main">
  <div class="container">
    <section class="call_to_action">
      <h3>Let's make something awesome</h3>
      <h4>and have a fun while doing it</h4>
      <a class="btn btn-primary btn-lg" href="/shop/">Get a LameStation!</a></section>
    <section class="features_teasers_wrapper">
      <div class="row">
        <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="images/hardware.png">
          <h3>Learn electronics</h3>
          <p>Start with a bag of parts and turn it into a real working game console, and what makes it possible through our comprehensive assembly instructions!</p>
        </div>
        <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="images/code.png">
          <h3>Learn software</h3>
          <p>You'll see every line of code that goes into making your games work, and the more you understand, the farther LameStation will take you.</p>
        </div>
        <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="images/build.jpg">
          <h3>Have fun</h3>
          <p>Dive into an experience you will never forget; LameStation is designed to ignite the passion and inspire you to go even further!</p>
        </div>
      </div>
    </section>
    <section class="portfolio_teasers_wrapper">
      <h2 class="section_header fancy centered">Check out what people are making with the LameStation!</h2>
      <div class="portfolio_strict row">
        {% for game in site.games limit:3 %}
        {% include game_tile.html %}
        {% endfor %}
      </div>
    </section>
    <!--
          <section class="clients_section wow animated fadeInUp">
               <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
               <div class="clients_list"> <a href="#"><img src="images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/jquery.jpg" alt="client"></a> <a href="#"><img src="images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="images/clients/wpml.jpg" alt="client"></a> </div>
          </section>
          -->
  </div>
  {% include footer.html %}
</div>
