---
layout: default
title: Start
permalink: /start/
---

<div class="main">
    <div class="container">
        <section class="hgroup">
            <h1>Ready, Set, Lame!</h1>
            <h2>Take your first steps into the exciting world of LameStation.</h2>
            {% include crumb.html %}
        </section>
        <section class="service_teasers">
            <div class="container">
                <div class="service_teaser">
                    <div class="row">
                        <div class="service_photo col-sm-4 col-md-4">
                            <figure style="background-image:url(/images/hardware.png)"></figure>
                        </div>
                        <div class="service_details col-sm-8 col-md-8">
                            <h2 class="section_header skincolored"><b>Build</b> Hardware<small>assembly instructions for the LameStation</small></h2>
                            <p>Find out what goes into a LameStation by building your own. <strong>Assembly takes 4-8 hours</strong> to finish, depending on your skill level.</p>
                            <a class="btn btn-primary pull-right" href="https://lamestation.atlassian.net/wiki/display/LAME"><i class="fa fa-wrench"></i>&nbsp; Assembly Instructions</a> </div>
                    </div>
                </div>

                <div class="service_teaser">
                    <div class="row">
                        <div class="service_photo col-sm-4 col-md-4">
                            <figure style="background-image:url(/images/code.png)"></figure>
                        </div>
                        <div class="service_details col-sm-8 col-md-8">
                            <h2 class="section_header skincolored"><b>Download</b> Software<small>tools for creating software for lamestation</small></h2>
                            <p>The LameStation is programmed in the Spin language using <strong>PropellerIDE</strong>. You'll also need the <strong>LameStation SDK</strong>, which contains all the libraries and examples you need to get started with the LameStation.</p>
                            <div class="pull-right">
                                <a class="btn btn-primary" href="http://developer.parallax.com/propelleride/"><i class="fa fa-download"></i>&nbsp; Get PropellerIDE</a>
                                <a class="btn btn-primary" href="https://github.com/lamestation/lamestation-sdk/releases/download/0.6.2-rc2/lamestation-sdk-0.6.2-rc2.zip"><i class="fa fa-download"></i>&nbsp; Get the SDK</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="service_teaser">
                    <div class="row">
                        <div class="service_photo col-sm-4 col-md-4">
                            <figure style="background-image:url(/images/software.png)"></figure>
                        </div>
                        <div class="service_details col-sm-8 col-md-8">
                            <h2 class="section_header skincolored"><b>Start</b> Coding<small>read the LameStation book</small></h2>
                            <p>Now you're ready to begin your journey. You can now start working through the <strong>LameStation book</strong>, which will take you from the basics of the Spin language all the way to making your own awesome games.</p>
                            <a class="btn btn-primary pull-right" href="/learn/"><i class="fa fa-book"></i>&nbsp; Open The Book</a> </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include footer.html %}
</div>
