---
layout: ref/page
---
{% if page.brief %}<p>{{ page.brief }}</p>{% endif %}

<h1 class="page-header elegant">Include</h2>
<pre>
{{ page.alias }} : "{{ page.title }}"
</pre>

<h1 class="page-header elegant">Functions</h2>
{% assign filtertype = 'function' %}
{% assign includebrief = true %}
{% assign libraryname = page.title %}
{% include librarylist.html %}

<h1 class="page-header elegant">Constants</h2>
{% assign filtertype = 'constant' %}
{% assign includebrief = true %}
{% assign libraryname = page.title %}
{% include librarylist.html %}

{% if page.folder %}
<h1 class="page-header elegant">Examples</h2>
<p>Demos for this object can be found in the <code>{{ page.folder }}</code> folder of the SDK.</p>
{% endif %}

<h1 class="page-header elegant">About</h2>
{{ content }}

