{% if fancylist %}
<section class="service_teasers">
    <div class="container">
        {% for listitem in fancylist %}
            {% if filterskill and listitem.skill == filterskill %}
                <div class="service_teaser inverted">
                    {% include listitem.html %}
                </div>
            {% elsif filterlabel and listitem.label == filterlabel %}
                <div class="service_teaser inverted">
                    {% include listitem.html %}
                </div>
            {% elsif filterskill == null and filterlabel == null %}
                <div class="service_teaser">
                    {% include listitem.html %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}
{% assign filterskill = null %}
{% assign filterlabel = null %}
