{% if fancylist %}
{% assign loopindex = 0 %}
{% assign divopen = false %}
<section class="service_teasers">
    <div class="container">
        {% for listitem in fancylist %}
            {% if filterskill and listitem.skill == filterskill %}
                {% include listitem.html %}
            {% elsif filterlabel and listitem.label == filterlabel %}
                {% include listitem.html %}
            {% elsif filterskill == null and filterlabel == null %}
                {% include listitem.html %}
            {% endif %}
        {% endfor %}

        {% if divopen == true %}
        </div><br/>
        {% assign divopen = false %}
        {% endif %}

    </div>
</section>
{% endif %}
{% assign filterskill = null %}
{% assign filterlabel = null %}
