<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
@import url(/static/css/feedback.css);
</style>
<script type="text/javascript">
if (typeof(Zenbox) !== "undefined") {
  Zenbox.init({
dropboxID:   "20153719",
url:         "https://lamestation.zendesk.com",
tabTooltip:  "Feedback",
tabImageURL: "https://p4.zdassets.com/external/zenbox/images/tab_help_black_right.png",
tabColor:    "#FFFFFF",
tabPosition: "Right"
});
}
</script>
