<div class="container-fluid" id="footer-bar">
  <div class="container" id="footer">

    <div class="row">

      <div class="span4">
        <p>LameStation LLC is a hobby electronics company dedicated to enhancing the awesomeness of engineering education.</p>
        <p><strong>Contact us at:</strong></p>
        <tt><strong><a href="mailto:contact@lamestation.com">contact@lamestation.com</a></strong></tt>
      </div>

      <div class="span4">
        <img src="http://www.lamestation.com/static/img/logo/lamestation-llc-logo-dark-0300px.png" alt="LameStation LLC" /><br/>
        <center>Copyright &copy; 2013-2014<br/>
          Site powered by <a href="https://github.com/">GitHub</a>
        </center>
      </div>

      <div class="span4">

	<a style="font-size:30px" class="btn btn-facebook" href="https://www.facebook.com/lamestation"        ><i class="fa fa-facebook"></i></a>
	<a style="font-size:30px" class="btn btn-github"   href="https://github.com/lamestation"              ><i class="fa fa-github"></i></a>
	<a style="font-size:30px" class="btn btn-twitter"  href="https://twitter.com/lamestation"             ><i class="fa fa-twitter"></i></a>
	<a style="font-size:30px" class="btn btn-youtube"  href="https://www.youtube.com/user/LameStationLLC" ><i class="fa fa-youtube"></i></a>

        <p><strong>Join Our Mailing List:</strong></p>
        <form action="http://lamestation.us7.list-manage.com/subscribe/post?u=1a23a687f503012af61b2d7f3&amp;id=b6b1f5f072" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="input-xlarge" id="mce-EMAIL" placeholder="email address" required>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="footer-bg" />
