<footer>
  <!--{% include footer/twitter_feed.html %}-->
  <section id="footer_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3>About us</h3>
          <p>LameStation LLC dedicated to empowering the next generation of students to do more than they ever thought possible.</p>
          <p><i class="fa fa-map-marker"></i> PO Box 1064, Lake Forest CA 92609</p>
          <p><i class="fa fa-envelope"></i> contact@lamestation.com</p>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3>Latest News</h3>
          <ul class="media-list">
            <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>FEB</span></a>
            <h5 class="media-heading"><a href="#">Media heading, this is a title of a news...</a></h5>
            <p>Fugiat dapibus, tellus ac cursus commodo, ut fermentum...</p>
            </li>
            <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>FEB</span></a>
            <h5 class="media-heading"><a href="#">Media heading, of a news item.</a></h5>
            <p>Fugiat dapibus, tellus ac cursus commodo, condime ntum nibh, ut fermentum...</p>
            </li>
          </ul>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
          <h3>Photos</h3>
          <ul></ul> <p>All photos © <a href="http://www.lamestation.com" target="_blank">LameStation LLC</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {% include footer/copyright.html %}
</footer>
