<footer class="hidden-print">
  <!--{% include footer/twitter_feed.html %}-->
  <section id="footer_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3>About us</h3>
          <p>LameStation LLC is dedicated to empowering the next generation of students to do more than they ever thought possible.</p>
          <p><i class="fa fa-map-marker"></i> PO Box 1064, Lake Forest CA 92609</p>
          <p><i class="fa fa-envelope"></i> contact@lamestation.com</p>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4">
          <h3>Latest News</h3>
          <ul class="media-list">
            {% for post in site.posts limit:2 %}
              {% include news_item.html %}
            {% endfor %}
          </ul>
        </div>
        <div class="footer_teaser col-sm-4 col-md-4" id="latest-flickr-images">
          <h3>Photos</h3>
          <ul></ul> <p>All photos © <a href="http://www.lamestation.com" target="_blank">LameStation LLC</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {% include footer/copyright.html %}
</footer>
