<header class="hidden-print">
   <div class="container">
        <div class="navbar navbar-default" role="navigation">
             <div class="navbar-header">
               <a class="navbar-brand" href="/">
                 <img src="/images/seal_0200.png" alt="lamestation seal" height="90" width="90" style="float:left;margin-right:10px">
                 <span class="logo_title"><img src="/images/logo-blue_0300.png" alt="lamestation logo" height="31" width="300"></span>
                 <!--LameStation-->
                 <span class="logo_subtitle">Engineering made awesome.</span>
               </a>
               <a class="btn btn-navbar btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="nb_left pull-left">
                 <span class="fa fa-reorder"></span></span>
                 <span class="nb_right pull-right">menu</span>
               </a>
             </div>
             <div class="collapse navbar-collapse">
                <ul class="nav pull-right navbar-nav">

{% for node in site.pages_list %}
    {% if node[1].size > 1 %}
        <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ node[0] }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                 {% for subnode in node[1] %}{% for subsubnode in subnode %}
                        <li><a href="{{subsubnode[1]}}">{{subsubnode[0]}}</a></li>
                 {% endfor %}{% endfor %}
            </ul>
        </li>
    {% else %}
        {% if page.url == node[1][0] %}
            <li class="active"><a href="{{node[1]}}">{{node[0]}}</a></li>
        {% else %}
            <li><a href="{{node[1]}}">{{node[0]}}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
                </ul>
             </div>
        </div>
        <div id="social_media_wrapper">
          <a href="https://www.facebook.com/lamestation"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/lamestation"><i class="fa fa-twitter"></i></a>
          <a href="https://github.com/lamestation"><i class="fa fa-github-alt"></i></a>
        </div>
        <!--<div id="sign"><a href="register.html"><i class="fa fa-user"></i><span>Register/Sign in</span></a></div>-->
   </div>
</header>
