{% if includeheader %}
    {% for sitepage in librarylist %}
        {% if sitepage.title == libraryname %}
        <div style="text-align: center; font-size: 5em; color: #555; text-shadow: 5px 5px 5px #bbb;">
        {% if sitepage.icon %}<i class="fa fa-{{ sitepage.icon }}"></i>{% endif %}
        </div>
        <a href="{{ sitepage.url }}"><h2 class="page-header skincolored">
                {{ sitepage.title }} <small>( {{ sitepage.alias }} )</small>
            </h2></a>
        {% endif %}
    {% endfor %}
{% endif %}
<ul class="{% if includebrief != true %}nav{% endif %}">
{% for sitepage in librarylist %}
    {% if sitepage.library == libraryname %}
        {% if filtertype and sitepage.type == filtertype %}
            {% include librarylistitem.html %}
        {% elsif filtertype == null %}
            {% include librarylistitem.html %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
