{% if includeheader %}
    {% for sitepage in librarylist %}
        {% if sitepage.title == libraryname %}
        <a href="{{ sitepage.url }}"><h2 class="page-header skincolored">{{ libraryname }}</h2></a>
        {% endif %}
    {% endfor %}
{% endif %}
<ul class="{% if includebrief != true %}nav{% endif %}">
{% for sitepage in librarylist %}
    {% if sitepage.library == libraryname %}
        {% if filtertype and sitepage.type == filtertype %}
            {% include librarylistitem.html %}
        {% elsif filtertype == null %}
            {% include librarylistitem.html %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
