<div class="row">
    <div class="service_photo col-sm-4 col-md-4">
        {% if listitem.image %}
        <figure style="background-image:url( {{ listitem.image }} )"></figure>
        {% endif %}
    </div>
    <div class="service_details col-sm-8 col-md-8">
        <h2 class="section_header skincolored">
            {% if listitem.skill == 'beginner' %}<span class="label label-success">Beginner</span>{% endif %}
            {% if listitem.skill == 'advanced' %}<span class="label label-warning">Advanced</span>{% endif %}
            {% if listitem.skill == 'expert'   %}<span class="label label-danger">Expert</span>{% endif %}
            {{ listitem.title }}
        </h2>
        {% if listitem.description %}<p>{{ listitem.description }}</p>{% endif %}
        {% if listitem.buttons %}
        <div class="pull-right">
            {% for button in listitem.buttons %}
            <a class="btn btn-primary" href="{{ button.url }}">{% if button.icon %}<i class="fa fa-{{ button.icon }}"></i>&nbsp; {% endif %}{{ button.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
