{% for post in site.posts  %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
{% capture last_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
{% capture last_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

{% if forloop.first %}
    <p>{{this_year}}</p>
    <ul style="line-height: 1.2;">
    <li><small>{{ this_month }}</small></li>
    <ul style="line-height: 1.2;">

{% elsif this_year != last_year %}
    </ul>
    </ul>
    <p>{{this_year}}</p>
    <ul style="line-height: 1.2;">
    <li><small>{{ this_month }}</small></li>
    <ul style="line-height: 1.2;">

{% elsif this_month != last_month %}
    </ul>
    <li><small>{{ this_month }}</small></li>
    <ul style="line-height: 1.2;">
{% endif %}

<li><small><a href="{{ post.url }}">{{ post.title }}</a></small></li>

{% if forloop.last %}
    </ul>
    </ul>
{% endif %}

{% endfor %}
