<!-- scripts -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.9.0.min.js"><\/script>')</script>
<script type="text/javascript" src="/twitter-bootstrap/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/modernizr.custom.48287.js"></script>
<script type="text/javascript" src="/js/woothemes-FlexSlider-06b12f8/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/prettyPhoto_3.1.5/jquery.prettyPhoto.js" charset="utf-8"></script>
<script type="text/javascript" src="/js/isotope/jquery.isotope.min.js" ></script>
<script type="text/javascript" src="/js/jquery.ui.totop.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/snap.svg-min.js"></script>
<script type="text/javascript" src="/js/restart_theme.js"></script>
<script type="text/javascript" src="/js/collapser.js"></script>
