{% if teamlist %}
{% assign loopindex = 0 %}
{% assign divopen = false %}
<section class="team_members">
    <div class="container">
        {% for listitem in teamlist %}
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder = loopindex | modulo: 4 %}

        {% if rowfinder == 0 %}
        <div class="row">
        {% assign divopen = true %}
        {% endif %}

        <div class="col-sm-6 col-md-3">
            <div class="team_member">
                {% if listitem.image2 %}
                <figure style="background-image: url({{ listitem.image2 }})"><img src="{{ listitem.image }}"></figure>
                {% else %}
                <figure style="background-image: url({{ listitem.image }})"><img src="{{ listitem.image }}"></figure>
                {% endif %}
                <h5>{{ listitem.name }}</h5>
                <small>{{ listitem.title }}</small>
                <hr>
                <div class="team_social">
                    {% if listitem.facebook %}<a href="{{ listitem.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
                    {% if listitem.twitter %}<a href="{{ listitem.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
                    {% if listitem.github %}<a href="{{ listitem.github }}"><i class="fa fa-github-alt"></i></a>{% endif %}
                    {% if listitem.pinterest %}<a href="{{ listitem.pinterest }}"><i class="fa fa-pinterest-p"></i></a>{% endif %}
                </div>
                <p class="short_bio">{{ listitem.bio }}</p>
            </div>
        </div>

        {% if rowfinder == 0 %}
        </div><br/>
        {% assign divopen = false %}
        {% endif %}

        {% endfor %}
    </div>
</section>
{% endif %}
