li.thumbnails {
    height: 100%;	
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: arcade_i;
    src: url('/static/font/ARCADE_I.TTF'),
    url('/static/font/ARCADE_I.eot'); /* IE9+ */
}
@font-face {
    font-family: arcade_n;
    src: url('/static/font/ARCADE_N.TTF'),
    url('/static/font/ARCADE_N.eot'); /* IE9+ */
}
@font-face {
    font-family: arcade_r;
    src: url('/static/font/ARCADE_R.TTF'),
    url('/static/font/ARCADE_R.eot'); /* IE9+ */
}

.github-buttons {
    margin: auto;
    list-style: none outside none;
    text-align: center;
    padding: 0px;
    height: 35px;
    display: block;
}

.github-buttons li {
    display: inline-block;
    padding: 5px 8px;
//    line-height: 1;
}

.navbar-inner {
    min-height: 30px;
}

.navbar .brand {
    padding: 10px 20px;
    margin-left: -10px;
}

.navbar .nav > li > a {
    padding: 10px;
}

div.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

div#content.container {
    margin-top:25px;
    margin-bottom:25px;
}

div#jumbocontent.container {
    margin-top:25px;
    margin-bottom:25px;
}



.main-bg {
    background-color:#000000;
    background-image:url('http://www.lamestation.com/static/img/logo/ls-circuit-bar-1200px-dark.jpg');
    background-repeat:no-repeat;
    background-position:center;

    /*    padding: 0px; */
    margin-top: 0px;
    margin-bottom: 0px;
    /*    height: 200px; */
    display: block;
    position: relative;
    color: #FFFFFF;
}

.footer-bg {
    background-color:#000000;
    background-image:url('http://www.lamestation.com/static/img/logo/ls-bottom-bar-1200px.jpg');
    background-repeat:no-repeat;
    background-position:center;

    /*    padding: 0px; */
    height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*    height: 200px; */
    display: block;
    position: relative;
    color: #FFFFFF;
}


.sub-bg {
    height: 40px;
}

.main-bg img {
    display:inline;
    margin: 0px;
    margin-right: 20px;
    float: right;
}

.button-bar {
    background-color: rgb(120, 120, 120);
    height: 32px;
}

div#footer-bar.container-fluid {
    padding: 20px;
    background-color: rgb(210, 210, 210);
}

.right-side {
    text-align:right;
}


.title {
    padding-left: 10px;
}

.thumbnails li {
    padding-left: 5px;
    padding-right:5px;
}
.thumbnails p {
    padding-left: 5px;
    padding-right:5px;
}

/* About page images */
img.featurette-image {
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: 5px 5px 10px #787878;
}

img.featurette-image.pull-right {
    margin-left:15px;
}

img.featurette-image.pull-left {
    margin-right:15px;
}

.carousel {
    background-color: #000000;
    margin: 0px 0px;
}

.carousel img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}


.carousel-caption h2 {
    color: #FFFFFF;
    margin: 0px 0px;
}

.carousel-caption p {
    color: #FFFFFF;
}

.carousel-indicators {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 15px;
}


@media (min-width: 1600px) {
    .carousel .item {
        height: 500px;
    }
    .carousel img {
        width: auto;
        height: 500px;
    }
}

@media (min-width: 320px) and (max-width: 1599px) {
    .carousel .item {
        height: auto;
    }
    .carousel img {
        width: 100%;
        height: auto;
    }
}


@media (max-width: 319px) {
    .carousel .item {
        height: 100px;
    }
    .carousel img {
        width: 320px;
        height: 100px;
        overflow-x: hidden;
        min-width: 320px;
        max-width: 320px;
        margin: auto;
    }
}
