#galleria {
	width: 700px;
	height: 400px;
	background: #000;
	margin: auto;
}

li.thumbnails {
	height: 100%;	
}

img {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

@font-face {
	font-family: arcade_i;
	src: url('/static/font/ARCADE_I.TTF'),
	url('/static/font/ARCADE_I.eot'); /* IE9+ */
}
@font-face {
	font-family: arcade_n;
	src: url('/static/font/ARCADE_N.TTF'),
	url('/static/font/ARCADE_N.eot'); /* IE9+ */
}
@font-face {
	font-family: arcade_r;
	src: url('/static/font/ARCADE_R.TTF'),
	url('/static/font/ARCADE_R.eot'); /* IE9+ */
}

.github-buttons {
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	list-style: none outside none;
	text-align: center;
}

.github-buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
}

.navbar-inner {
	min-height: 30px;
}

.navbar .brand {
	padding: 10px 20px;
	margin-left: -10px;
}

.navbar .nav > li > a {
	padding: 10px;
}

div#content.container {
	margin-top:50px;
}


.main-bg {
	background-color:#000000;
	background-image:url('/static/img/lamestation-banner.jpg');
	background-repeat:no-repeat;
	background-position:center;

	padding: 30px;
	margin-top: 35px;
	height: 200px;
	display: block;
	position: relative;
	color: #FFFFFF;
}


.main-bg img {
	display:inline;
	margin: 0px;
	float: right;
}


.title {
	padding-left: 10px;
}
