---
layout: subpage
title: Code
fulltitle: Code
subtitle: Learn to program your own games on the LameStation.
permalink: /code/

book:
  - image: "/images/programming/snake.png"
    title: "SDK Manual"
    label: manual
    description: An overview of the LameStation.
    buttons:
      - url: https://lamestation.gitbooks.io/lamestation-book/content/
        name: SDK Manual

games:
  - image: "/images/programming/medal_imalive.png"
    url: https://lamestation.gitbooks.io/lamestation-tutorial-im-alive/content/
    name: I'm Alive!
    skill: beginner

  - image: "/images/programming/medal_snake.png"
    url: https://snake.docs.lamestation.org/
    name: Snake
    skill: beginner

  - image: "/images/programming/medal_hellopong.png"
    url: https://lamestation.gitbooks.io/lamestation-tutorial-hello-pong/content/
    name: Hello Pong
    skill: beginner
    disabled: true

  - image:
    url:
    name:
    skill: advanced
    disabled: true

  - image:
    url:
    name:
    skill: expert
    disabled: true
---

{% assign fancylistlayout = 'code' %}
{% assign fancyliststyle = 'elegant' %}
{% assign fancylist = page.games %}

{% assign filterskill = 'beginner' %}

<div class="row">
    <div class="col-sm-3 col-md-3">
        <section class="hgroup">
        <h1 class="skincolored">Beginner</h1>
        </section>
    </div>
    <div class="col-sm-9 col-md-9">
        {% include fancylist.html %}
    </div>
</div>

{% assign filterskill = 'advanced' %}

<div class="row">
    <div class="col-sm-3 col-md-3">
        <section class="hgroup">
        <h1 class="skincolored">Advanced</h1>
        </section>
    </div>
    <div class="col-sm-9 col-md-9">
        {% include fancylist.html %}
    </div>
</div>

{% assign filterskill = 'expert' %}

<div class="row">
    <div class="col-sm-3 col-md-3">
        <section class="hgroup">
        <h1 class="skincolored">Expert</h1>
        </section>
    </div>
    <div class="col-sm-9 col-md-9">
        {% include fancylist.html %}
    </div>
</div>
