---
layout: subpage
title: Games
fulltitle: Games
subtitle: Games that have been made on the LameStation.
permalink: /games/
genres: action|puzzle|adventure
---
{% assign genre_array = page.genres | split: "|" %}
<section>
    <ul class="portfolio_filters">
        <li><a href="#" data-filter="*">show all</a></li>
        {% for genre in genre_array %}
        <li><a href="#" data-filter=".cat_{{genre}}">{{genre}}</a></li>
        {% endfor %}
    </ul>
</section>
<section class="portfolio_strict">
    <div class="row isotope_portfolio_container">
        {% for game in site.games %}
        {% include game_tile.html %}
        {% endfor %}
    </div>
</section>
