---
layout: page
---

{% assign img_array = page.images | split: "|" %}

    <section class="call_to_action">
      <ul class="pager"><li class="previous"><a href="/games/">← Back</a></li></ul>
      <h3>{{ page.title }}</h3>
      <h4>{{ page.oneliner }}</h4>

      {% if page.source %}
      <a href="{{ page.source }}" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Download Source
      </a>
      {% endif %}
      {% if page.binary %}
      <a href="{{ page.binary }}" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Download Game
      </a>
      {% endif %}
    </section>
    <section class="portfolio_slider_wrapper">
      <div class="flexslider" id="portfolio_slider">
        <ul class="slides">
          {% for image in img_array %}
          <li class="item" data-thumb="{{ image }}" style="background-image: url( {{ image }} )">
          <div class="container"><a href="{{ image }}" rel="prettyPhoto[gal]"></a></div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="carousel" class="flexslider">
        <ul class="slides">
          {% for image in img_array %}
          <li> <img src="{{ image }}" alt=""> </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="col-sm-9 col-md-9">
          <h2 class="section_header">About this project</h2>
          <p>{{content}}</p>
        </div>
        <div class="well col-sm-3 col-md-3">
          <p><strong>Author:</strong> {{ page.author }}</p>
          <p><strong>Place:</strong> {{ page.place }}</p>
          <p><strong>Category:</strong> {{ page.category | capitalize }}</p>
          <p><strong>Date:</strong> {{ page.date }}</p>
          <!--<p><strong>Rating:</strong><span class="rating r8"></span></p>-->
        </div>
      </div>
      <!--      <ul class="pager">
        <li class="previous disabled"><a href="#">← Older</a></li>
        <li class="next"><a href="portfolio_item_2.html">Newer →</a></li>
      </ul>
      -->
    </section>
    <section>
      <section class="portfolio_teasers_wrapper">
        <h2 class="fancy section_header">Related Projects</h2>
        <div class="portfolio_strict row">
          {% assign related_games = (site.games | where: "category", {{page.category}}) %}
          {% for game in related_games limit:3 %}
          {% include game_tile.html %}
          {% endfor %}
        </div>
      </section>
    </section>
