<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include header.md %}
<body>

<div class="container-fluid title">
{% assign content_tree = site.title_bar %}
{% include title_bar %}
</div>
<div class="hero-unit main-bg">
  <div class="container" id="hero">
    <p>You may think the world isn't ready for another hobby game console; <strong>we think otherwise.</strong></p>
    <br>
    <h1><img src="/static/img/lamestation-logo-800px.png" /></h1>
  </div>
</div>
<div class="container" id="content">
{{ content }}
</div>
</body>
</html>
