---
layout: default
---

{% include headline.html  %}
<div class="main">
  <div class="container bs-docs-container">

    <div class="row">
      <div class="col-md-9" role="main">
        <div class="span8">
          <h1 id="pagetitlename">{{ page.title }}</h1>
          <div id="toc"></div>
          <div id="manualpage">
            <script>
$('#manualmenu ul a').bind('click', function(e) {
    var url = $(this).attr('href');
    var pagename = $(this).text();
    var titlename = "LameStation - Manual | ";
    document.title = titlename.concat(pagename);
    $("h1#pagetitlename").text(pagename);
    $("div#manualpage").load(url, function () {
      MathJax.Hub.Queue(["Typeset", MathJax.Hub, "manualpage"]);
      });
    e.preventDefault(); // stop the browser from following the link
    });
            </script>
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm hidden-xs">
        <div id="manualmenu">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
