---
layout: ref_page
---

{% if page.brief %}<p>{{ page.brief }}</p>{% endif %}

{% if page.syntax %}
<h2>Syntax</h2>
<pre>{{ page.syntax }}</pre>
{% endif %}

<h2>Parameters</h2>
{% if page.param %}
<ul>
{% for param in page.param %}
<li><code>{{ param[0] }}</code> - {{ param[1] }}</li>
{% endfor %}
</ul>
{% else %}
<p>This command takes no parameters.</p>
{% endif %}

<h2>Returns</h2>
{% if page.return %}
<p>{{ page.return }}</p>
{% else %}
<p>This command returns no values.</p>
{% endif %}

<h2>About</h2>
{{ content }}
