---
layout: subpage
---

<div class="row">
    <div class="col-sm-4 col-md-4">
    </div>
    <div class="col-sm-4 col-md-4">
        <a href="{{ page.platform.link }}" class="btn btn-primary btn-lg btn-block btn-{{ page.platform.name | downcase | remove:' ' }}">
            <img src="/images/logo/white/{{ page.platform.name | downcase | remove:' ' }}.png" alt="{{ page.platform.name | remove:' ' }}" class="float-left"/>
            <h2>{{ page.platform.name }}</h2>
        </a>
    </div>
    <div class="col-sm-4 col-md-4">
    </div>
</div>


<hr/>

{% if page.archive %}<p>Looking for an older version? View the <a href="{{ page.archive }}">release archive</a>.</p>{% endif %}
{% if page.copyright %}<p><small>{{ page.copyright }}</small></p>{% endif %}


<section class="hgroup">
<h1>Installation</h1>
</section>

{% include toc_start.html %}
{{ content }}
{% include toc_end.html %}


