<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include header.md %}
<body>

<div class="container-fluid title">
{% assign content_tree = site.title_bar %}
{% include title_bar %}
</div>
<div class="hero-unit main-bg sub-bg">
  <div class="container" id="hero">
    <h1>{{page.title}}</h1>
  </div>
</div>

<div class="button-bar">
  {% include github_buttons %}
</div>

<div class="container-fluid">
 <div class="container" id="jumbocontent">
{{ content }}
 </div>
</div>
</body>
</html>
